


*{
    
    text-decoration: none;
    font-family: 'comun' ;
    font-size: 1rem;
   color: #000000 !important;
}
.boton {
    background-color: rgb(80, 172, 156);
    
}
.nav-color{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(245, 106, 106, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card, .foot-social{
    background-color: transparent !important;
}
body {
    background-image: url(medios/fondo09.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.fondo-menu{
    background-image:url(medios/111.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
}
.copy{
    display: flex;
    justify-content: center;
    border-top: solid 0.5px;color: black;
    margin-top: 1rem;
    padding-top: 1rem;
}
.w,.f,.i{
    width: 3rem;
    margin-left: 2rem;
}
.img-mtch{
    height: 8rem;
    float: left;
    padding-right: 1rem;
    padding-top: 1rem;
}
/*inicio Tratamientos*/
main{
    margin-left: 1rem;
    margin-right: 1rem;
}


.t-tratamientos{
    text-align: center;
    font-size: 2rem;
}

/*Seccion acupuntura*/
.t-acup{
    text-align: center;
   font-size: 2rem;
}
.art{
    text-align: justify;
    margin-bottom: 40px;
}
.img-trat1{
    width: 15rem;
    box-shadow: 0px 10px 10px rgb(32, 31, 32);
    
    border-radius: 20px 40px 20px 40px;
    
    border: 0.5px solid #000000;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/*Seccion Ventosas*/

.img-trat2{
    width: 15rem;
    box-shadow: 0px 10px 10px rgb(32, 31, 32);
    
    border-radius: 20px 40px 20px 40px;
    
    border: 0.1px solid #000000;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;

}
.t-vent{

    font-size: 2rem;
}

.img-trat3{
    width: 15rem;
    box-shadow: 0px 10px 10px rgb(32, 31, 32);
    
    border-radius: 20px 40px 20px 40px;
    
    border: 0.1px solid #000000;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.t-moxa{

      font-size: 2rem;
   }

   @media screen and (max-width: 480px){
       .card{
           display: flex;
           flex-direction: column;
       }
   }

   /* Inicio de Sobre Nosotros.html*/

.img-nosotros{
    width: 20%;
    box-shadow: 0px 10px 10px rgb(32, 31, 32);
    border-radius: 20px 40px 20px 40px;
    
    border: 0px solid #000000;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

    margin-bottom: 15px;
}
.t-nosotros{

    padding: 25px 25px;
    align-items: center;
}
.art-nosotros{
    margin-right: 25%;
padding-bottom: 80px;
}

/*Fin de Nosotros.html*/


/*Inicio de fotos.html*/



.carousel-inner img {
    width: 100%;
    height: 100%;
}


  .carruel{
      background-color: #574848;
      width: 80%;
  }
  .fotos{
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }

  /*Fin de fotos.html*/

    /*Inicio de Contactos.html*/

    
.t-contacto{
    text-align: center;
    font-size: 2rem;
}
.p-contactos{
    font-size: 1.5rem;

}
.t-form{
   width:  100%;
}

.contactos{
    margin-left: 1rem;
    margin-right: 1rem;
}
.formulario-contacto{
    height: 50%;
}



.dire {
    text-align: center
}
.mapa{
    width: 50%;
    height: 50%;
}
    /*Fin de Contactos.html*/



    