/*Inicio de Contactos.html*/

    
.t-contacto{
    text-align: center;
    font-size: 2rem;
}
.p-contactos{
    font-size: 1.5rem;

}
.t-form{
   width:  100%;
}

.contactos{
    margin-left: 1rem;
    margin-right: 1rem;
}
.formulario-contacto{
    height: 50%;
}



.dire {
    text-align: center
}
.mapa{
    width: 50%;
    height: 50%;
}
    /*Fin de Contactos.html*/