@import "../base/mixins";
/* Inicio de Footer*/
.copy{
    display: flex;
    justify-content: center;
    border-top: solid 0.5px;color: black;
   @include condicion (black)
}
.w,.f,.i{
    width: 3rem;
    margin-left: 2rem;
}

.foot-social{
    background-color: transparent !important;
}
/* Fin de Footer*/