.copy{
    display: flex;
    justify-content: center;
    border-top: solid 0.5px;color: black;
    margin-top: 1rem;
    padding-top: 1rem;
}
.w,.f,.i{
    width: 3rem;
    margin-left: 2rem;
}

.foot-social{
    background-color: transparent !important;
}
