/*Inicio de fotos.html*/


@import "../base/extends";

.carousel-inner{
  width: 500px;
}

  .carruel{
      background-color: #574848;
      width: 80%;
  }
  
  .fotos{
     @extend %alineacion
  }

  /*Fin de fotos.html*/