/*Inicio de fotos.html*/


@import "../base/extends";




.carousel-inner img {
    width: 100%;
    height: 100%;
}


  .carruel{
      background-color: #574848;
      width: 80%;
  }
  .fotos{
     @extend %alineacion
      
  }

  /*Fin de fotos.html*/