/*Inicio de fotos.html*/


@import "../base/extends";

.micarr{
 margin-left: auto;
 margin-right: auto;
  width: 80%;
  margin-bottom: 4%;
}
.t-fotos {
  margin-top: 3%;
  margin-bottom: 3%;
  @extend %alineacion;
}
 
  
  

  /*Fin de fotos.html*/