/*Inicio de fotos.html*/



.carousel-inner img {
    width: 100%;
    height: 100%;
}


  .carruel{
      background-color: #574848;
      width: 80%;
  }
  .fotos{
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }

  /*Fin de fotos.html*/