/* Inicio de Sobre Nosotros.html*/

.img-nosotros{
    width: 20%;
    box-shadow: 0px 10px 10px rgb(32, 31, 32);
    border-radius: 20px 40px 20px 40px;
    
    border: 0px solid #000000;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

    margin-bottom: 15px;
}
.t-nosotros{

    padding: 25px 25px;
    align-items: center;
}
.art-nosotros{
    margin-right: 25%;
padding-bottom: 80px;
}

/*Fin de Nosotros.html*/